/*FOOTER*/
footer {
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 200px;
    padding-left: 50px;
    padding-right: 70px;

}

footer img {
    height: 80%;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer div img {
    height: 120px;
}

footer div h3 {
    color:$color-principal;
    font-weight: lighter;
    font-size: 110%;
}