/*HERO*/
.hero-fondo {
    background-image: url(../IMG/fondo-home.jpg);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    background-position: bottom right;
    object-fit: cover;
}

.hero {
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-index {
    margin-top: 80px;
    color:$color-principal;
    font-size: 5vw;
    width: 40%;
    margin-left: 13%;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 110%;
    text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    color:$color-principal;
    margin-left: 13%;
    text-align: left;
    margin-bottom: 20%;
    margin-right: 10%;
}

/*MENU SECTION*/
.menuhome {
    margin-top: 0;
    height: 800px;
    background-image: url(../IMG/fondo-celu-menu.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.menuhome h2 {
    color:$color-principal;
    font-size: 5vw;
    margin-left: 0;
    width: 330px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menuhome a {
    margin-right: 5%;
    margin-top: 40px;
    width: 190px;
    height: 60px;
    text-decoration: none;
    color:$color-principal;
    font-size: 20px;
    border-style: solid;
    padding: 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menuhome div img {
    width: 100%;
    height: 800px;
    display: block;
    transition: filter 0.3s ease;
}

.contenedor-img {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.gin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    color:$color-principal;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.contenedor-img:hover img {
    filter: grayscale(50%);
}

.contenedor-img:hover .gin {
    opacity: 1;
}
/*SUCURSALES SECTION*/
.homesucursales {
    background-image: url(../IMG/camarero-byn.png);
    height: 800px;
    background-position: left bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.homesucursales h2 {
    color:$color-principal;
    font-size: 5vw;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.homesucursales a {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    width: 190px;
    height: 60px;
    text-decoration: none;
    color:$color-principal;
    font-size: 20px;
    border-style: solid;
    padding: 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENU PAGE*/
.fondo-menu {
    background-image: url(../IMG/fondo-menu.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    background-position: bottom right;
    object-fit: cover;
}
.titulo-pages {
    display: flex;
    justify-content: center;
    font-size: 6vw;
    color:$color-principal;
    margin-top: 20%;
}

.main-menu {
    margin-left: 8%;
    margin-right: 8%;
}

.grilla-contenedor{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    margin-bottom: 100px;
}
.foto-menu img{
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.5);
}

.fotoshover-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.fotoshover {
    position: relative;
}

.fotoshover img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease;
}

.fotoshover:hover img {
    filter: grayscale(70%);
}

.nombre-trago {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:$color-principal;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.fotoshover:hover .nombre-trago {
    opacity: 1;
}
/* SUCURSALES PAGE*/
.fondo-sucursales {
    background-image: url(../IMG/camarero-byn.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    background-position: bottom right;
    object-fit: cover;
}
.sucursales-main{
    margin-top: 15%;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 100px;
    gap: 3%;
    align-items: center;
    justify-content: center;
}
.mapa{
width: 90vw;
}
/* RESERVAS PAGE*/
.fondo-reservas {
    background-image: url(../IMG/fondo-reservas.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    background-position: bottom right;
    object-fit: cover;
}

.reservas-main{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 100px;
}
.patron-fondo{
    background-image: url(../IMG/patron-reservas.png);
    width: 100%;
    height: 70%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.reservas-main div h3{
    color:$color-principal;
    font-size: 5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

}

.reservas-main div a{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    width: 190px;
    height: 60px;
    text-decoration: none;
    color:$color-principal;
    font-size: 20px;
    border-style: solid;
    padding: 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FRANQUICIAS PAGE*/
.fondo-franquicias {
    background-image: url(../IMG/fondo-franquicias.png);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    background-position: bottom right;
    object-fit: cover;
}
.franquicias-main{
    margin-left: 8%;
    margin-right: 8%;
}
.fondo-form{
    background-color: #ffffff;
    width: 100%;
    height: 50vw;
    margin-top: 15%;
    margin-bottom: 10% ;
    display: flex;
    padding: 5%;
    gap: 40px;
}
.fondo-form h3{
    text-align: left;
    width: 50%;
    line-height: 1.5;
    font-size: 2.5vw;
}

.fondo-form h4{
    color: rgba(95, 87, 87, 0.486);
    margin-top: 6%;
    font-size: 2vw;
}

.form input, .form textarea{
width: 35vw;
}

.form input{
height: 2.5vw;
}
.form textarea{
    height: 12vw;

}